SERV_HOST= <SERVER HOST>
SERV_PORT= <SERVER PORT>

ACCEPT_HOST = <PROXY HOST OR ACCEPT ADDR HOST>
ACCEPT_PORT = <PROXY PORT OR ACCEPT ADDR PORT>

#Optional to have more than 1 entry point
ACCEPT2_HOST = <ANOTHER PROXY HOST>
ACCEPT2_PORT = <ANOTHER PROXY PORT>

DB_URL= <DATABASE URL>
JWT_SECRET= <JWT PRIVATE KEY>
ENV_STATUS= <ENVIRONMENT STATUS>