#-- HOST PORT --
SERVER_HOST=<HOST>
SERVER_PORT=<PORT>

PROXY_HOST=<HOST>
PROXY_PORT=<PORT>

WEBSITE_HOST=<HOST>
WEBSITE_PORT=<PORT>

REDIS_HOST=<HOST>
REDIS_PORT=<PORT>

#-- DATABASE --
POSTGRES_URL=<DB URL>
POSTGRES_PASSWORD=<DB PASSWORD>
POSTGRES_USER=<DB USER>

#-- SECRET --
SENDGRID_SECRET=<SENDGRID SECRET HERE>
USER_VERIFICATION_SECRET=<SECRET HERE>

JWT_SECRET=<JWT SECRET HERE>
SUDO_SECRET=<SUDO SECRET HERE>

STRIPE_SECRET_KEY=<SECRET KEY HERE>
STRIPE_PUBLISHABLE_KEY =<PUBLIC SECRET KEY HERE>
STRIPE_WEBHOOK_SECRET = <WEBHOOK SECRET KEY HERE>

#-- TEMPLATE --
ORDER_CONFIRMATION_TEMPLATE=<TEMPLATE HERE>
USER_VERIFICATION_TEMPLATE=<TEMPLATE HERE>
PASS_RESET_TEMPLATE=<TEMPLATE HERE>

#-- ENVIRONMENT VARIABLE --
ENVIRONMENT=development

DOMAIN_NAME = <DOMAIN_NAME>
SENDGRID_TEST_EMAIL = <TEST EMAIL>
SENDGRID_DOMAIN_EMAIL = <DOMAIN EMAIL>
SENDGRID_SUPPORT_EMAIL = <SUPPORT EMAIL>