SERVER_HOST=<YOUR_HOST>
SERVER_PORT=<YOUR_PORT>
PROXY_HOST=<PROXY>
PROXY_PORT=<PROXY>
FRONTEND_HOST=<HOST>
FRONTEND_PORT=<PORT>

DATABASE=<DATABASE_URL>

SENDGRID_SECRET=<YOUR_SECRET>
SG_SECRET=<YOUR_SECRET>
JWT_SECRET=<YOUR_SECRET>
SUDO_SECRET=<YOUR_SECRET>
STRIPE_SECRET_KEY=<YOUR_SECRET>
STRIPE_PUBLISHABLE_KEY=<YOUR_SECRET>
STRIPE_WEBHOOK_SECRET=<YOUR_SECRET>

ENVIRONMENT=development

MAIL_CONFIRMATION_TEMPLATE=<TEMPLATE_ID>
PASS_RESET_TEMPLATE=<TEMPLATE_ID>